/*LAYOUT -  header, footer, site container, sections, articles columns*/

section {
  padding:60px 0;
  float: left;
  display:block;
  width: 100%;
  box-sizing: border-box;

}
article {
  background: $c-purple;
  padding:80px 10px;
  float: left;
  display:block;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px #000;
}

.col {
  width: 100%;
  float: left;
}
.col-3 {
  width:100%;
  float:left;
}
.product-container {
  width:77%;
  float:left;
  border:1px solid #bbb;
  padding: 5%;
}
.arrow-left{
  width: 5%;
    float: left;
    font-size: 30px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 50%;
    font-weight: 900;
    color: $c-light-purple;
}
.arrow-right{
  width: 7%;
    float: left;
    font-size: 30px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 50%;
    font-weight: 900;
    color: $c-light-purple;
}
.mobile-hidden {
  display: none;
}
@media (min-width: $screen-md) {
  .col {
    width: 50%;
  }
  .col-3 {
    width:31.33%;
    padding-right:2%;
    float:left;
  }
  .col-3:last-child {
    padding: 0;
  }
  .offset-right {
  width: 44%;
  padding-right: 6%;
  }
  .product-container {
    width: 100%;
    padding: 0;
    border:0;
  }
  .arrow-right, .arrow-left {
    display: none;
  }
}


@media (min-width: $screen-md) {
  .mobile-hidden {
    display: block;
  }
}
