header {
  min-height:71px;
  position:fixed;
  top:0;
  width: 100%;
  z-index: 9;

.logo {
  color: $c-white;
  font-family:$title-font;
  font-weight: 900;
  @include font-size(2.1, 2.4);
  padding:20px 10px;
  display: inline-block;
  letter-spacing: -2px;
}
}

.top {
  position:fixed;
  top:0;
  background:rgb(238, 6, 81);
  width:100%;
  height:50px;
}
