.slider {
  background-color: #ee0651; // Old browsers
  @include filter-gradient(#ee0651, #c71383, vertical); // IE6-9
  @include background-image(linear-gradient(top, #ee0651 0%,#c71383 100%));
  top:0;
  position:relative;
  min-height:500px;
  z-index: 1;
  width: 100%;
  padding-top: 10%;
  float: left;
  overflow: auto;
  overflow-y: auto;

  .siema {
    /*transform: translateY(40px);
    transform-origin: 50% 50% 0px; */
  }
  .button-container{
    display:block;
    width: 100%;
    margin:0 auto;
    float: left;
  }
  .controls-container{
    display:block;
    width: 100%;
    margin:0 auto;
    float: left;
    padding-bottom:5%;
    }
  .controls-container::before {
    content: '. . . .';
    @include font-size(3.2, 2.8);
    color: white;
    vertical-align: top;
}
  h1{
    color:$c-white;
    @include font-size(2.8, 4.8);
    font-weight: 900;
    text-align: center;
    padding-top: 3%;
    padding-bottom:4%;
  }
  span {
      white-space: nowrap;
  }
  p {
    color:$c-white;
    @include font-size(1.2, 2.8);
  }
  button {
    color:$c-white;
    @include font-size(1.0, 2.8);
    border:1px solid $c-white;
    background: none;
    cursor: pointer;
    padding:7px 8px;
    width: 140px;

  }
  .pagination {
    text-align: center;
    width: 100%;
    float: left;
    display: block;
    position: relative;
    p {
    color:$c-light-purple;
    @include font-size(5.6, 2.8);
    display: inline-block;
  }
  .active {
    color:$c-bodytext;
  }
}
@media (min-width: $screen-md) {
  .pagination {
    text-align: left;
  }
  h1{
    text-align: left;
  }
  .desktop-hidden {
    display:none;
  }
  .desktop-left {
    text-align: left;
  }
}
}
