.slider {
  background-color: #ee0651; // Old browsers
  @include filter-gradient(#ee0651, #c71383, vertical); // IE6-9
  @include background-image(linear-gradient(top, #ee0651 0%,#c71383 100%));
  top:0;
  position:relative;
  min-height:500px;
  z-index: 1;
  width: 100%;
  padding-top: 10%;
  float: left;
  overflow: -webkit-paged-y;

  .siema {
    transform: translateY(40px);
    transform-origin: 50% 50% 0px;
  }
  h1{
    color:$c-white;
    @include font-size(2.8, 4.8);
    font-weight: 900;
    text-align: center;
  }

  p {
    color:$c-white;
    @include font-size(1.2, 2.8);
  }
  .pagination {
    text-align: center;
    width: 100%;
    span {
    color:$c-light-purple;
    @include font-size(5.6, 2.8);
  }
  .active {
    color:$c-white;
  }
}
@media (min-width: $screen-md) {
  .pagination {
    text-align: left;
  }
  h1{
    text-align: left;
  }
  p.desktop-hidden.center {
    text-align: left;
  }
}
}
